.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
analysis/results
results
output/*
data/imc
data/4iANCA
data/merfish_bc
data/merfish_liver
data/merfish_preoptic
data/mibi_tnbc
data/seqfishp_brain